:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #505050;
  --color-input: #f9f9f9;
  --color-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*------------------------------------------------------
  >>>>TABLE OF CONTENTS:
  --------------------------------------------------------
  # Typography
  # Links
  # Lists
  # Icon
  # Buttons
  # Inputs
  # Tile
  # Space
  # Grids
  # Blocks
  # Collapsibles
  # Navbar
  # Hero  
  # Small about
  # Space Section
  # Best Sellers
  # Newsletter
  ------------------------------------------------------*/

/*------------------------------------------------------
  # Typography
  ------------------------------------------------------ */

html {
  /* 62.5% of 16px = 10px*/
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

body {
  background: var(--color-primary);
  font-family: "Didact Gothic", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: 0.1rem;
  z-index: 1;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--color-secondary);
  margin: 2.5rem auto;
  line-height: 1.1;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
  color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }
}

/*------------------------------------------------------
  # Links
  ------------------------------------------------------ */

a {
  text-decoration: none;
  transition: 0.3s;
  padding-right: 4px;
}

a:hover {
  opacity: 60%;
}

.link {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
}

.link--space {
  font-size: 1.4rem;
  color: var(--color-primary);
}

.link-arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 5px;
  transform: rotate(-45deg);
}

.link--space .link-arrow {
  border: solid var(--color-primary);
  border-width: 0 3px 3px 0;
  padding: 3px;
}

@media screen and (min-width: 1024px) {
  .link {
    font-size: 1.6rem;
  }

  .link-arrow {
    padding: 3px;
  }
}

/*------------------------------------------------------
  # Lists
  ------------------------------------------------------ */

.list {
  list-style: none;
  padding-left: 0;
}

.list__item {
  padding: 0.5rem 0;
}

.list--vertical .list__item {
  color: var(--color-accent);
  font-size: 1.4rem;
}

.list--inline .list__item {
  display: inline-block;
}

/*------------------------------------------------------
  # Combobox
  ------------------------------------------------------ */
.combobox__text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}

.combobox__item {
  border: 0;
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 60%;
  padding-left: 0.5rem;
}

.combobox__item:focus {
  outline-width: 0;
}

/*------------------------------------------------------
  # Icon
  ------------------------------------------------------ */

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.icon--tile {
  float: right;
  margin: 1rem;
}

.icon:hover {
  opacity: 60%;
}

@media screen and (min-width: 1024px) {
  .icon {
    width: 30px;
    height: 30px;
  }
}

/*------------------------------------------------------
  # Buttons
  ------------------------------------------------------ */

.btn {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.4rem 2.4rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-width: 0;
  cursor: pointer;
}

/*------------------------------------------------------
  # inputs
  ------------------------------------------------------ */

.input {
  background-color: var(--color-input);
  border: 0;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  outline: 0;
}

.input-group {
  background-color: var(--color-input);
  border: 0;
  display: inline-block;
}

.input-group .link {
  font-size: 1.6rem;
}

/*------------------------------------------------------
  # Tile
  ------------------------------------------------------ */

.tile {
  box-shadow: 0 0 20px 10px #e2e2e2;
  width: auto;
  max-width: 250px;
  display: inline-block;
  min-width: 150px;
  margin: auto;
}

.tile__image {
  width: 100%;
  object-fit: fill;
}

.tile__info {
  padding: 2rem 1.5rem 0;
}

.tile__header {
  width: 100%;
  padding-bottom: 1rem;
}

.tile__price {
  width: 100%;
}

.tile__icon {
  padding: 1rem 1rem;
  text-align: end;
}

/*------------------------------------------------------
  # Space
  ------------------------------------------------------ */

.space {
  width: 100%;
  height: 100%;
  aspect-ratio: 2;
  position: relative;
  cursor: pointer;
}

.space__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.space::after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  opacity: 0;
  transition: all 0.5s;
}

.space:hover::after {
  opacity: 0.3;
}

.space__body {
  color: var(--color-primary);
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.space__header {
  padding-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 4rem;
}

/*------------------------------------------------------
# Grids
------------------------------------------------------ */

.grid {
  display: grid;
}

.grid--1x4 {
  grid-template-columns: repeat(1, 1fr);
  column-gap: 4rem;
  row-gap: 8rem;
  margin: 0 6rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1300px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*------------------------------------------------------
# Blocks
------------------------------------------------------ */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container__heading {
  max-width: 500px;
  margin: 0 auto;
}
.block {
  padding-top: 3rem;
}

.block__heading {
  text-align: center;
}

/*------------------------------------------------------
# Collapsibles
------------------------------------------------------ */

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/*------------------------------------------------------
# NavBar
------------------------------------------------------ */

.nav {
  background: grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
}

.nav__logo {
  width: 150px;
}

.nav__list--mobile {
  display: inline-block;
}

.nav__list--pc {
  display: none;
}

.nav__icons {
  padding: 0 1rem;
}

.nav__toggler {
  width: 30px;
  height: 30px;
}

.nav__icon {
  width: 30px;
  height: 30px;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--color-accent);
}

.nav__item:last-of-type {
  border: 0;
}

.nav__item > a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.nav__item > a:hover {
  opacity: 60%;
}

@media screen and (min-width: 900px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
  }

  .nav__item:hover {
    border-bottom: 2px solid var(--color-accent);
    transition: border-bottom 0.4s;
  }

  .nav__list--mobile {
    display: none;
  }

  .nav__list--pc {
    display: inline-block;
  }

  .nav__list {
    margin: 0 auto;
  }

  .nav__icon {
    justify-content: space-between;
  }
}

/*------------------------------------------------------
# Hero
------------------------------------------------------ */

.hero {
  width: 100%;
  height: 80vh;
  position: relative;
  padding: 0;
}

.hero__image {
  display: block;
  background-image: url(/images/modern_contemporary_coffee_table.jpg);
  aspect-ratio: 2.25;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
}

.hero__tagline {
  color: var(--color-primary);
  text-transform: uppercase;
  margin: 0;
  font-size: 1.6rem;
}

.hero__heading {
  color: var(--color-primary);
  text-transform: uppercase;
  margin: 1rem 0 4rem;
  font-weight: 500;
}

.hero__btn {
  text-transform: uppercase;
  padding: 1.4rem 4rem;
  letter-spacing: 0.5rem;
}

@media screen and (min-width: 756px) {
  .hero__content {
    position: absolute;
    padding: 0 24px;
    top: auto;
    bottom: 10rem;
    text-align: left;
    transform: none;
  }
}

/*------------------------------------------------------
# Small about
------------------------------------------------------ */

.small--about {
  padding: 3rem 2rem;
  text-align: center;
}

.small--about__heading {
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.small--about__body {
  font-size: 1.6rem;
}

.small--about__link {
  font-size: 1.6rem;
}

/*------------------------------------------------------
# space Section
------------------------------------------------------ */

.space--Section {
  padding: 2rem;
}

/*------------------------------------------------------
# Best Sellers
------------------------------------------------------ */

.bestSellers {
  padding-top: 2rem;
}

.bestSellers__heading {
  text-transform: uppercase;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 6rem;
}

/*------------------------------------------------------
# Newsletter
------------------------------------------------------ */

.newsletter {
  background-image: url(/images/modern_contemporary_coffee_table.jpg);
  object-fit: fill;
  width: 100%;
  margin: 0;
}

.newsletter__content {
  text-align: center;
  max-width: 700px;
  padding: 0 8rem;
  margin: 0 auto;
}

.newsletter__heading {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.newsletter__body {
  color: var(--color-primary);
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.newsletter__input {
  width: 100%;
  padding-bottom: 5rem;
}

.newsletter__email {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.newsletter__btn {
  display: block;
  margin: 1rem auto;
  letter-spacing: 0.5rem;
}
