<section class="bestSellers">
  <h3 class="bestSellers__heading">Best sellers</h3>
  <div class="grid grid--1x4">
    <div class="tile">
      <img
        class="tile__image"
        src="images/modern_contemporary_coffee_table.jpg"
        alt=""
      />
      <div class="tile__info">
        <header class="tile__header">Coffee Table</header>
        <div class="tile__price">R2,465.50</div>
      </div>
      <div class="tile__icon">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#shoppingCart"></use>
        </svg>
      </div>
    </div>
    <div class="tile">
      <img
        class="tile__image"
        src="images/modern_contemporary_coffee_table.jpg"
        alt=""
      />
      <div class="tile__info">
        <header class="tile__header">Coffee Table</header>
        <div class="tile__price">R2,465.50</div>
      </div>
      <div class="tile__icon">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#shoppingCart"></use>
        </svg>
      </div>
    </div>
    <div class="tile">
      <img
        class="tile__image"
        src="images/modern_contemporary_coffee_table.jpg"
        alt=""
      />
      <div class="tile__info">
        <header class="tile__header">Coffee Table</header>
        <div class="tile__price">R2,465.50</div>
      </div>
      <div class="tile__icon">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#shoppingCart"></use>
        </svg>
      </div>
    </div>
    <div class="tile">
      <img
        class="tile__image"
        src="images/modern_contemporary_coffee_table.jpg"
        alt=""
      />
      <div class="tile__info">
        <header class="tile__header">Coffee Table</header>
        <div class="tile__price">R2,465.50</div>
      </div>
      <div class="tile__icon">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#shoppingCart"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
