<section class="cart">
  <div class="cart__container">
    <h3 class="cart__header">Shopping Cart:</h3>
    <div class="cart__contents">
      <div class="cart__items">
        <div class="cartProduct">
          <img
            class="cartProduct__image"
            src="../images/BarcelonaDiningTable.png"
            alt=""
          />
          <div class="cartProduct__body">
            <div class="cartProduct__row">
              <p class="cartProduct__label">Product:</p>
              <p class="cartProduct__value">Barcelona Table</p>
            </div>
            <div class="cartProduct__row">
              <p class="cartProduct__label">Price:</p>
              <p class="cartProduct__value">R23232</p>
            </div>
            <button class="btn cartProduct__btn">Remove Item</button>
          </div>
        </div>
        <div class="cartProduct">
          <img
            class="cartProduct__image"
            src="../images/BannerDiningTable.png"
            alt=""
          />
          <div class="cartProduct__body">
            <div class="cartProduct__row">
              <p class="cartProduct__label">Product:</p>
              <p class="cartProduct__value">Barcelona Table</p>
            </div>
            <div class="cartProduct__row">
              <p class="cartProduct__label">Price:</p>
              <p class="cartProduct__value">R23232</p>
            </div>
            <button class="btn cartProduct__btn">Remove Item</button>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout">
      <div class="checkout__row">
        <p class="checkout__label">Total:</p>
        <p class="checkout__value">R231212,38</p>
      </div>
      <div class="checkout__row">
        <button class="btn checkout__btn">Remove All</button>
        <button class="btn checkout__btn">Checkout</button>
      </div>
    </div>
  </div>
</section>
