<section class="block newsletter">
    <div class="newsletter__content">
      <heading class="block__heading">
        <h3 class="newsletter__heading">Contemporary Carve</h3>
        <p class="newsletter__body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi velit
          veritatis voluptates distinctio totam libero laudantium error? Asperiores,
          non repellat.
        </p>
      <div class="newsletter__input">
        <input type="text" class="input newsletter__email" placeholder="Email..." />
        <button class="btn newsletter__btn">Submit</button>
      </div>
            </div>
    </div>
</section>