<section class="block container__heading small--about">
  <heading class="block__heading">
    <h3 class="small--about__heading">Contemporary Carve</h3>
    <p class="small--about__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi velit
      veritatis voluptates distinctio totam libero laudantium error? Asperiores,
      non repellat.
    </p>
    <a href="" class="link small--about__link"
      >Get to know us <i class="link-arrow"></i
    ></a>
  </heading>
</section>
